---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import {styles} from '../styles/components';
import {Countdown} from '../components/Countdown.tsx';
import Footer from '../components/Footer.astro';
---

<Layout>
	<main class={styles.container}>

		<header class="flex flex-col items-center mb-8 md:mb-16 z-10">
			<h1 class={styles.titleMain}>
				Quanto tempo falta para o ENEM?
			</h1>
		</header>

		<Countdown client:load />

		<Footer />
	</main>
</Layout>
